body {
  text-align: left;
}

#contact {
  margin-top: 5rem;
}

h1 {
  text-align: left;
  display: block;
  font-size: 5.7rem;
  font-family: var(--title-font);
}

.contact-container {
  margin-left: 5%;
}

.form-wrap {
  border: solid 1px;
}
