/*TABLET Style*/

@media screen and (max-width: 1020px) and (min-width: 768px) {
  html {
    font-size: 50%; /* 1rem = 5px */
  }
  body {
    font-size: 2.4rem; /* 12px */
  }

  h2 {
    font-size: 3rem;
  }
  /*********************************************************/
  .header-wrapper {
    position: sticky;
    position: -webkit-sticky; /*for safari*/
    top: 0;
    border-bottom: solid 1px var(--gray-f);
  }
  .global-menu {
    display: none;
  }
  #checkbox-label {
    /*for hamburger menu lines*/
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background: linear-gradient(currentcolor, currentcolor) no-repeat 50% 50% /
        16px 2px,
      linear-gradient(currentcolor, currentcolor) no-repeat 50% calc(50% - 6px) /
        16px 2px,
      linear-gradient(currentcolor, currentcolor) no-repeat 50% calc(50% + 6px) /
        16px 2px;
    position: relative;
    margin-bottom: 0;
  }

  input:checked + #checkbox-label {
    background: none; /* delete lines once checked */
  }

  input:checked + #checkbox-label::before {
    /*checked -> line-1*/
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  input:checked + #checkbox-label::after {
    /*checked -> line-2*/
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .wrap-navi {
    display: grid;
    grid-template-columns: auto 60rem 5rem;
    grid-template-rows: auto auto;

    justify-items: end;
    align-items: center;
  }
  .header-right {
    grid-column: 2;
    grid-row: 1;
  }
  .mobile-menu {
    display: block;
    grid-column: 4;
    grid-row: 1;
    margin: 0;
    padding: 0;
  }
  /*.lang-item:hover .lang-drpdwn-list {/********same as desktop but does not work so use javascript************
    display: block;
  }*/
  .lang-drp-item {
    font-size: 2rem;
  }
  body:has(#checkbox:checked) .global-menu {
    display: block;
  }
  .global-menu {
    position: absolute;
    top: 10rem;
    right: 0rem;
    width: 100%;
    height: auto;
    background-color: pink;
    z-index: 15;
  }
  .top-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    padding-left: 10px;
  }
  .top-nav li {
    align-self: center;
    justify-items: center;
    width: 100vw;
  }

  .sub-item-wrap {
    flex-direction: column;
    width: 100vw;
    height: 100%;
    position: relative;
    margin: 0 auto;
  }
  .nav-main-container {
    width: 100%;
    /*margin: 0 50%;*/
    z-index: 2;
  }
  .sub-item-wrap:nth-child(1) {
    z-index: 3;
  }
  /**********************************/
  .menu {
    position: relative; /* Ensure the parent has position relative */
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .sub-menu {
    position: absolute;
    top: 4rem; /*to control the height above the element */
    left: 0;
    z-index: 16; /* above other elements */
    width: 100vw;
    transform: translateX(0);
    font-size: 1.2rem;
    visibility: visible;
    font-size: 14px;
    height: 600%;
  }
  .sub-menu {
    display: none;
  }
  .menu-label {
    cursor: pointer; /* can click label */
  }
  .menu:has(.menu-section-1:checked) .sub-menu,
  .menu:has(.menu-section-2:checked) .sub-menu:nth-child(2),
  .menu:has(.menu-section-3:checked) .sub-menu.i-3,
  .menu:has(.menu-section-4:checked) .sub-menu.i-4,
  .menu:has(.menu-section-5:checked) .sub-menu.i-5 {
    display: block; /* checked->display */
  }
  /*.sub-item-wrap {
    overflow: visible;
  }*/
  .nav-img-box {
    flex-direction: column;
    width: 20%;
  }

  /*btn hover*/
  .nav-demo:hover {
    background-color: #9bc33f;
  }
  /***************************/
  #hero.flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  #hero p {
    font-size: 2.15rem;
    padding-top: 3rem;
  }
  .main-btn-blue {
    font-size: 2rem;
  }
  #hero .main-btn-blue {
    width: 15rem;
    height: auto;
  }
  .main-btn-nocolor {
    font-size: 2rem;
  }
  #hero .main-btn-nocolor {
    width: 16rem;
    height: auto;
  }
}
/****************** mobile ********************/
@media screen and (max-width: 767px) {
  .wrap-navi {
    display: grid;
    grid-template-columns: auto auto 5rem;
    grid-template-rows: auto auto;
    justify-items: end;
    align-items: end;
  }
  .header-right {
    grid-column: 2;
    grid-row: 1;
    margin-left: 1rem;
  }
  .mb-none {
    display: none;
  }
  #checkbox-label {
    width: 30px;
    height: 30px;
  }
  .mobile-menu {
    display: block;
    grid-column: -1;
    grid-row: 1;
    width: 100%;
    height: 120%;
  }
  .purple-wrap {
    display: block;
    padding: 2rem;
    text-align: center;
  }
  .purple-wrap p,
  .purple-wrap a {
    font-size: 2rem;
    line-height: 1;
    text-decoration: none;
  }
  #hero h2 {
    font-size: 4.5rem;
    text-align: center;
  }
  .hero-left {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  #hero img {
    width: 100%;
    object-fit: contain;
  }
  #hero .main-btn-blue {
    width: 15rem;
    height: auto;
    margin: 0;
  }
  .mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem 0;
  }
  #hero .main-btn-nocolor {
    width: 21.5rem;
    height: auto;
  }
}
