@media screen and (max-width: 1280px) /*and (min-width: 768px) */ {
  html {
    font-size: 50%; /* 1rem = 5px */
  }
  body {
    font-size: 3rem; /* 15px */
  }

  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  /*********************************************************/
  .header-wrapper {
    position: sticky;
    position: -webkit-sticky; /*for safari*/
    top: 0;
    border-bottom: solid 1px var(--gray-f);
  }
  .global-menu {
    display: none;
  }
  #checkbox-label {
    /*for hamburger menu lines*/
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background: linear-gradient(currentcolor, currentcolor) no-repeat 50% 50% /
        16px 2px,
      linear-gradient(currentcolor, currentcolor) no-repeat 50% calc(50% - 6px) /
        16px 2px,
      linear-gradient(currentcolor, currentcolor) no-repeat 50% calc(50% + 6px) /
        16px 2px;
    position: relative;
    margin-bottom: 0;
  }

  input:checked + #checkbox-label {
    background: none; /* delete lines once checked */
  }

  input:checked + #checkbox-label::before {
    /*checked -> line-1*/
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  input:checked + #checkbox-label::after {
    /*checked -> line-2*/
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .sub-item-container {
    border-right: none;
    flex: 1; /* make all flex items same width*/
    margin-right: 0em;
  }
  .wrap-navi {
    display: grid;
    grid-template-columns: auto 60rem 5rem;
    grid-template-rows: auto auto;

    justify-items: end;
    align-items: center;
  }
  .header-right {
    grid-column: 2;
    grid-row: 1;
  }
  .mobile-menu {
    display: block;
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    padding: 0;
  }
  .top-nav.logo {
    width: 120px;
    margin: 3rem auto;
  }
  /*.lang-item:hover .lang-drpdwn-list {/********same as desktop but does not work so use javascript************
    display: block;
  }*/
  .lang-drp-item {
    font-size: 2rem;
  }
  body:has(#checkbox:checked) .global-menu {
    display: block;
  }
  .global-menu {
    position: absolute;
    top: 10rem;
    right: 0rem;
    width: 100%;
    height: auto;
    z-index: 15;
  }
  .top-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    padding-left: 10px;
  }
  .top-nav li {
    align-self: center;
    justify-items: center;
    width: 100%;
  }

  .sub-item-wrap {
    flex-direction: column;
    width: 100vw;
    height: 100%;
    position: relative;
    margin: 0 auto;
  }
  .nav-main-container {
    width: 100%;
    /*margin: 0 50%;*/
    z-index: 2;
  }
  .sub-item-wrap:nth-child(1) {
    z-index: 3;
  }
  /**********************************/
  .menu {
    position: relative; /* Ensure the parent has position relative */
    right: 0.5em;
    height: 10rem;
  }
  .menu li {
    margin: 1rem;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .sub-menu {
    position: absolute;
    top: 4rem; /*to control the height above the element */
    left: 0;
    z-index: 16; /* above other elements */
    width: 100%;
    transform: translateX(0);
    font-size: 1.2rem;
    visibility: visible;
    font-size: 14px;
    height: auto;
  }
  .sub-menu {
    display: none;
  }
  .menu-label {
    cursor: pointer; /* can click label */
  }
  .menu:has(.menu-section-1:checked) .sub-menu,
  .menu:has(.menu-section-2:checked) .sub-menu:nth-child(2),
  .menu:has(.menu-section-3:checked) .sub-menu.i-3,
  .menu:has(.menu-section-4:checked) .sub-menu.i-4,
  .menu:has(.menu-section-5:checked) .sub-menu.i-5 {
    display: block; /* checked->display */
  }
  .sub-item-wrap {
    overflow: visible;
  }
  .nav-img-box {
    flex-direction: column;
    width: 20%;
  }

  /*btn hover*/
  .nav-demo:hover {
    background-color: #9bc33f;
  }
  /***************************/
  #hero.flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  #hero p {
    font-size: 2.15rem;
    padding-top: 3rem;
  }
  .main-btn-blue {
    font-size: 2rem;
  }
  #hero .main-btn-blue {
    width: 15rem;
    height: 5rem;
  }
  .main-btn-nocolor {
    font-size: 2rem;
  }
  #hero .main-btn-nocolor {
    width: 22rem;
    height: auto;
  }
  #brand h3 {
    font-size: 4rem;
  }
  .tab-mob {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #meet-tms h3 {
    font-size: 3rem;
  }
  .meet-tms-box {
    margin-bottom: 18rem;
    width: 100%;
  }
  #meet-tms p {
    height: auto;
    font-size: 2.5rem;
  }
  #meet-tms .main-btn-blue {
    width: 12rem;
    height: auto;
    margin: 3rem auto;
  }

  /*************************/
  #step ul {
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  #step .flex {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .step-body {
    font-size: 2.2rem;
  }
  .step-ul h4 {
    font-weight: bold;
    font-size: 2.2rem;
  }
  .step-ul p {
    font-size: 2.2rem;
  }
  #step .main-btn-blue {
    width: 20rem;
  }
  #step {
    padding-bottom: 5rem;
  }
  #connect p {
    font-size: 2.2rem;
  }
  /**************************/
  .connect-list {
    font-size: 2.2rem;
    flex-wrap: wrap;
    height: auto;
  }
  .connect-bottom-btn .main-btn-blue {
    width: 20rem;
  }
  .connect-bottom-btn .main-btn-nocolor {
    width: 15rem;
  }
  #action .flex.action-wrap {
    flex-direction: column;
  }
  .action-content {
    width: 100%;
    position: relative;
  }
  #action p {
    font-size: 2.5rem;
  }
  #action .main-btn-blue {
    width: 22rem;
    position: absolute;
    top: 10rem;
    right: 0;
  }
  .action-wrap img {
    margin-top: 3rem;
  }
  /******** contact ************/
  .all-contact {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  .contact-comment-p {
    font-size: 2.5rem;
  }
  .form-wrap {
    width: 100%;
  }
  .contact-form {
    grid-template-rows: repeat(4, 1fr) repeat(2, 2rem);
    grid-template-columns: repeat(2, 48%);
  }
  .contact-comment-box {
    width: 100%;
  }
  .subscribe label,
  .agree label {
    font-size: 1.8rem;
  }
  .contact-p {
    font-size: 1.8rem;
  }
  /**************** about *****************/
  .about-main {
    width: 80%;
  }
  .about-main p {
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.8;
  }
  .p-2 img {
    width: 20rem;
  }
}

/****************** mobile ********************/
@media screen and (max-width: 767px) {
  .wrap-navi {
    display: grid;
    grid-template-columns: auto auto 5rem;
    grid-template-rows: auto auto;
    justify-items: end;
    align-items: end;
  }
  .header-right {
    grid-column: 2;
    grid-row: 1;
    margin-left: 1rem;
  }
  .mb-none {
    display: none;
  }
  #checkbox-label {
    width: 30px;
    height: 30px;
  }
  .mobile-menu {
    display: block;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 120%;
  }
  .purple-wrap {
    display: block;
    padding: 2rem;
    text-align: center;
  }
  .purple-wrap p,
  .purple-wrap a {
    font-size: 2rem;
    line-height: 1;
    text-decoration: none;
  }
  #hero h2 {
    font-size: 4.5rem;
    text-align: center;
  }
  .hero-left {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  #hero img {
    width: 100%;
    object-fit: contain;
    margin-top: 18rem;
  }
  #hero .main-btn-blue {
    width: 15rem;
    height: auto;
    margin: 0;
  }
  .mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem 0;
  }
  #hero .main-btn-nocolor {
    width: 21.5rem;
    height: auto;
  }
  .meet-tms-box {
    margin-bottom: 40rem;
  }
  .step-box-content {
    width: 100%;
  }
  #step ul {
    width: 100%;
    margin: 0 3rem;
  }
  .connect-list {
    justify-content: center;
    align-items: center;
  }
  /************************/
  #action .main-btn-blue {
    width: 22rem;
    position: absolute;
    top: 15rem;
    right: 0;
  }
  /*******************/
  .flex.footer-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  .foot-1 {
    width: 100%;
    margin-top: 0 auto;
    text-align: center;
  }
  .footer-nav-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .footer-nav:nth-of-type(1),
  .footer-nav:nth-of-type(2),
  .footer-nav:nth-of-type(3) {
    border: none;
  }
  .footer-nav:nth-of-type(1) {
    padding: 0;
  }
  .footer-nav {
    margin: 0;
    padding: 0;
  }
  .top-nav .logo {
    width: 100px;
    margin: 5rem auto;
  }
}
