.connect-2,
.connect-3,
.connect-4,
.connect-5,
.connect-6,
.connect-7 {
  display: none;
}

#connect:not(:has(#radio-1:checked)) .connect-1 {
  display: none;
}
/*checked --> display changes*/
#connect:has(#radio-2:checked) .connect-2,
#connect:has(#radio-3:checked) .connect-3,
#connect:has(#radio-4:checked) .connect-4,
#connect:has(#radio-5:checked) .connect-5,
#connect:has(#radio-5:checked) .connect-6,
#connect:has(#radio-5:checked) .connect-7 {
  display: block;
}

/****underline******/
.connect-underline {
  position: relative;
}
.connect-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #0093cd;
  transform: scaleX(0); /*not to display at default*/
  transform-origin: left;
  transition: transform 0.3s ease;
}

/*radio button is checked, display*/
input[type="radio"]:checked + .connect-underline::after {
  transform: scaleX(1);
}
/*gallery*/
.connect-1.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16%, 5fr));
  grid-template-rows: repeat(3, 5rem);
  gap: 5%;
  margin: 0 5%;
  justify-content: center;
}
.gallery img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.gallery .logo-k {
  grid-column: 1 / 6; /* the entire width */
  justify-self: center;
}

.connect-2.gallery-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16%, 5fr));
  grid-template-rows: repeat(auto-fit, 5rem);
  gap: 5%;
  margin: 0 5%;
  justify-content: center;
}
